.carousel.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;

  button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid $light-blue;
    margin: 0 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }

    &.active {
      border-color: $light-blue;

      span {
        background-color: $primary;
      }
    }
  }
}
