// OWL nav
.carousel.owl-carousel .owl-nav {

  button.owl-prev, button.owl-next {
    height: 40px;
    width: 40px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: $box-shadow-sm;
    background-color: $light-blue;
    color: $dark-blue;
    transition-property: background-color, border-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:hover, &:active {
      background-color: darken($light-blue, 1%);
    }
  }

  button.owl-prev i {
    padding-right: 3px;
  }

  button.owl-next i {
    padding-left: 3px;
  }
}
